.city-body {
    padding-left: 20px;
    background-color: rgba(245, 245, 245, 0.517);
    width: 100vw;
    min-height: 100vh;
}

.city-title {
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 15px;
}

.city-link {
    text-decoration: none;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}

.listed-city {
    list-style: circle;
    padding-left: 20px;
}

.add-city-link {
    text-decoration: none;
    margin-top: 40px;
}

.city-filter {
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 15px;
}

.cities-section {
    /* padding: 5px 19px 5px 0;
    font-size: 15px;
    width: fit-content;
    background-color: #ffffff1e;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px; */
}