.full-city-body {
    padding-left: 20px;
    background-color: rgba(245, 245, 245, 0.517);
    width: 100vw;
    min-height: 100vh;
}

.city-header {
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 10px;
}

.edit-city-link {
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
}

.back-to-cities {
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
}

.city-section-body {
    padding: 10px 0 15px 0;
}

.city-section-title {
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration-line: underline;
}

.city-section-content {
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    max-width: 50%;
    background-color: #b676ff1e;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 7px 0 rgba(0, 0, 0, 0.19);
}
